# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\07. projects\AppDev-repo\AppDev-repo\gist-course-repo\app-dev\DiningPhiliosophers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
